/* 
header section css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}



:root {
    --text-color: #f5f5f5;
    --hover-color: #12f7ff;
    --bg-color: #0a070a;
    --secon-bg-color: #292e33;
    --big-font: 2.5rem;
    --norma-font: 2rem;
    --neon-box-shadow: 00.5rem#12f7ff;
    --h2-font: 3rem;
    --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
        0 0 20px rgba(18, 247, 255, 0.3),
        0 0 30px rgba(18, 247, 255, 0.3),
        0 0 40px rgba(18, 247, 255, 0.3),
        0 0 70px rgba(18, 247, 255, 0.3),
        0 0 80px rgba(18, 247, 255, 0.3),
        0 0 100px rgba(18, 247, 255, 0.3),
        0 0 150px rgba(18, 247, 255, 0.3);
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}

span {
    color: cyan;
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 20px;
}

.navlist a:hover {
    color: white;
    text-shadow: 0 0 10px cyan,
        0 0 20px cyan,
        0 0 30px cyan,
        0 0 40px cyan,
        0 0 70px cyan,
        0 0 80px cyan,
        0 0 100px cyan,
        0 0 150px cyan;
        font-weight: 400;

}

#menu-icon {
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: var(--hover-color);
    border-radius: 3px;
    color: var(--secon-bg-color);
    display: none;
}


/* home section css */
section {
    padding: 100px 10%;
}

.home {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4em;
    
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: var(--big-font);
    font-weight: 700;
}

.change-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.change-text h3 {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.change-text h3 .word {
    position: absolute;
    display: flex;
    opacity: 0;
}

.change-text h3 .word .letter {
    transform-origin: center center 25px;
}

.change-text h3 .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier (0.6, 0, 0.7, 0.2);
}

.change-text h3 .word .letter.in {
    transition: 0.38s ease;
}

.change-text h3 .word .letter.behind {
    transform: rotateX(-90deg);
}

.home-content p {
    color: #bdbdbd;
    line-height: 1.6;
}

.info-box {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 1rem 0 2rem;
}

.info-box h5 {
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
}

.info-box span {
    font-size: 0.8rem;

    color: #bdbdbd;
}

.btn-box {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 45px;
}

.btn-box a.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 100%;
    background: var(--hover-color);
    color: var(--bg-color);
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: 0 0 5px cyan, 0 0 10px cyan;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
}

a.btn:hover {
    color: var(--hover-color);
}

a.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

a.btn:hover::before {
    width: 100%;
}

/* a.btn:nth-child(2) {
    background: var(--bg-color);
    color: var(--hover-color);
}



a.btn:nth-child(2):hover {
    color: var(--bg-color);
}


a.btn:nth-child(2)::before {
    background: var(--hover-color);
} */

.social-icons {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    width: 220px;
    height: 40px;
}


.social-icons a {
    display: inline-flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    transition: .6s;
    box-shadow: 0 0 0.3rem #12f7ff;
    border-radius: 20px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
}


social-icons a:hover {
    color: white;
    
}

social-icons a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--hover-color);
    transition: .6s;
    z-index: -1;
}

.social-icons a:hover::before {

    width: 100%;

}

.home-image {
    position: relative;
}

.img-box {
    text-align: center;
}

.img-box img {
    width: 20rem;
    border-radius: 50%;
    height: auto;
    /* max-width: 400px; */
    
    box-shadow:0 0 5px #12f7ff, 0 0 20px #12f7ff;
}

.img-box img:hover {
    box-shadow:0 0 5px #eef2f2, 0 0 25px #eef2f2;
}

.liquid-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 10%;
}

.liquid-shape:nth-child(2) {

    filter: blur (50px)
}

.home-image {
    position: relative;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.img-about img {
    /* width: 100%;
    border-radius: 50px;
    max-width: 400px;
    height: auto;
    box-shadow:0 0 5px #12f7ff, 0 0 25px #12f7ff; */
    width: 20rem;
    border-radius: 50%;
    height: auto;
    /* max-width: 400px; */
    
    box-shadow:0 0 5px #12f7ff, 0 0 20px #12f7ff;
}

.img-about img:hover {
    box-shadow:0 0 5px #eef2f2, 0 0 25px #eef2f2;
}

.about-text {
    color: rgb(240, 238, 238);
    margin: 3px 3px 3px 3px;
    margin-top: 20px;
}

.about-text h2 {
    font-size: 22px;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.about-text h2 span {
    color: #0ef;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.about-text h4 {
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 15px;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.about-text p {
    color: aliceblue;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 3rem;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.main-text {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: #0ef;
}

.contact .main-text h2 {
    padding-top: 10px;
}

.skills .main-text h2 {
    padding-top: 10px;
}

.contact .main-text span{
    color: #eef2f2;
    font-size: 0.8em;
}

.skills .main-text span {
    color: #eef2f2;
    font-size: 0.8em;
}


.skills-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skill-bar {
    margin-bottom: 2.3rem;
}

.skills-main h3 {
    margin-bottom: 2rem;
    font-size: var(--norma-font);
    text-align: center;
}

.skills-left .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skills-left .skill-bar .bar {
    width: 100%;
    height: 10px;
    background-color: #bda3a3;
    border-radius: 25px;
    margin-top: 8px;
    position: relative;
}

.skill-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--hover-color);
    border-radius: 25px;
    box-shadow: 0 0 10px cyan;
}

.skill-bar .bar .html {
    width: 72%;
    animation: html 2s;
}

.skill-bar .bar .css {
    width: 89%;
    animation: css 2s;
}

.skill-bar .bar .javascript {
    width: 60%;
    animation: javascript 2s;
}

.skill-bar .bar .java {
    width: 80%;
    animation: java 2s;
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 72%;
    }
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 89%;
    }
}

@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

@keyframes java {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

.professional {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box {
    position: relative;
    margin: 10px 0;
    flex: 1 1 15rem;
}

.box .text {
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

.box .text big {
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.box .text small { 
    display: block;
    font-weight: 600;
    padding-top: 10px;
}

/* .box .text {
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

.box .text big {
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , 50%);
} */

.circle {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}

.circle .points {
    width: 2px;
    height: 10px;
    background-color: white;
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
    /* animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s); */
}

.points.marked {
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}

@keyframes glow {
   0%{
    background-color: var(--bg-color);
    box-shadow: none;
   } 

   100%{
    background-color: var(--hover-color);
    box-shadow: 0 0 5px cyan;
   }
}


/* projects section */
.sub-title {
    text-align: center;
    justify-content: center;
}
.projects-list { 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.projects-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 10px #0ef;
    /* 1px 1px 40px #0ef; */
}
.projects-list div i {
    font-size: 40px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.projects-list div h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 37px;
    font-size: 1.5em;
}

.projects-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-list div p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
}

.projects .container .projects-list .box p {
    text-align: justify;
}

.projects .container .projects-list .box {
    background-color: #3d3636;
    max-height: 500px;
}


.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #205f8c;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    /* opacity: 0; */
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 15px #0ef;
    /* 0 0 25px #0ef; */
    
    margin-left: 32px;
    margin-right: 32px;
}
    
.read:hover {
    background: rgb(103, 117, 118);
    color: #f2f6f9;
    box-shadow: 0 0 20px #0ef;
}

.services-list div:hover {
    transform: translateY(-10px);
}

.contact {
    background-color: var(--bg-color);
    width: 100%;
}

.contact form {
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.contact form input,
.contact form textarea {
    width: 100%;
    color: var(--text-color);
    background: var(--secon-bg-color);
    margin-bottom: 0.8rem;
    border: none;
    border-radius: 5px;
    padding: 0.7rem;
}

.contact form textarea {
    resize: none;
}

.formBtn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 100%;
    background: var(--hover-color);
    color: var(--bg-color);
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: 0 0 5px cyan, 0 0 10px cyan;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
}

.btn1:hover {
    color: var(--hover-color);
    background: var(--bg-color)
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

.btn:hover::before {
    width: 100%;
}

footer {
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #292e33;
}

footer p {
    color: #bdbdbd;
}

footer a {
    display: inline-flex;
    justify-content: center;
    color: var(--text-color);
    background: var(--hover-color);
    padding: 0.6rem;
    border-radius: 5px;
}

footer a i {
    font-size: 1rem;
    color: var(--secon-bg-color);
}